/*首页样式*/

.head-logo{
  background: url(../images/logo_bg.png) repeat-x;
}

/*页面背景花纹*/
.huawen{
  background: url(../images/bg.jpg) repeat;
}


/*解决轮播图的高度问题*/
/*#libImg .carousel-inner .item{ width: 100%;height: 0;padding-bottom: 50%;overflow: hidden;}
#libImg .carousel-inner .item img{width: 100%;}*/

/*解决轮播图的高度问题*/
.carousel, .carousel .item{
  height: 400px;
}
.carousel .item img{
  width: 100%;
}
@media only screen and (max-width:768px ) {
	.carousel, .carousel .item{
    height: 150px;
  }
  .carousel .item img{
    width: 100%;
  }
}

/*解决页面宽度不够样式*/
.set-height{
  min-height: 400px;
}

/*教学论坛登录样式*/
.login{
   position:absolute;
   width: 100%;
   height: 100%;
   background: url('../images/bbs_login.jpg') no-repeat;
   -webkit-background-size: cover;
        -o-background-size: cover;
           background-size: cover;
}

.form-login{
  max-width: 330px;
  margin: 11% auto 0;
}

.form-title{
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 2.8em;
}

/*教学论坛样式*/
.bbs-nav{
  margin-bottom: 5px;
  padding: 15px 10px 10px 10px;
  background: #3c3c3c;
  border-radius: 4px;
}

.bbs-post-title{
  padding: 30px 0 20px 10px;

}

.bbs-comment{
  padding-top: 10px;
  background: #f0f0ff;
  border-radius: 4px;
}

.bbs-comment-title{
  margin-left: 10px;
}

.bbs-comment-list{
  margin: 20px;
}
